.center {
  color: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  background-color: #233142;
  border-bottom: none;
}
.footer {
  background-color: #233142;
  border-top: none;
}
desc {
  display: block !important;
  font-size: 2em;
}
img {
  display: block !important;
  height: 200px;
}
h1 {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
}
.myModal {
  background: #acb6e5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
  
}
.mBody {
  background-color: #233142;
}
.desc {
  font-size: 1.1em;
}
.btn {
  font-size: 20px;
  font-weight: bold;
  border-radius: 15%;
  background-color: #f95959;
  border-color: #f95959;
}



/* Faruq css */

.homepage{
  margin-top: 200px;
  background-image: url("/src/Images/Background.jpg");
  background-size: cover;
  background-position: center;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
